body
{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(310deg, rgba(224, 35, 35, 0.688), rgba(251, 251, 24, 0.803));
}

*
{
    margin: 0;
    padding: 0;
}

main
{
    width: 300px;
    height: max-content;
    min-height: 100px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 10px 40px;
    padding: 30px;
    box-sizing: border-box;
}

main form
{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

main form input, main form button
{
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px;
}

main form
{
    opacity: 0.5;
}


main .result
{
    padding-top: 20px;
    text-align: center;
}

main .result .name
{
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .temp img
{
    width: 150px;
    filter: drop-shadow(0 10px 50px);
}

main .temp figcaption
{
    font-size:  3em;
}

main .description
{
    padding: 10px 0 30px;
}

main ul
{
    list-style: none;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 10px;

}

main li
{
    background-color: rgb(147, 64, 255);
    color: white;
    border-radius: 15px;
    padding: 20px 10px;
    font-weight: bold;
    font-size: small;
}

main li i
{
 font-size: 2em;
 display: block!important;   
 margin: 20px 0;
}


main.error
{
    animation: Shake 0.3s linear 1;
}

@keyframes Shake
{
    0%{
        transform: translate(10px, 5px)
    }
    25%{
        transform: translate(-5px, 0)
    }
    50%{
        transform: translate(8px, 2px)
    }
    75%{
        transform: translate(-2px, 5px)
    }
    100%{
        transform: translate(0, 0); 
    }
}

.result 
{
   display: none;
}

figcaption sup
{
    vertical-align: baseline;
    font-size: inherit;
    margin-left: 4px;
}